*.suo
Proyecto_Infra/Proyecto_Infra/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Proyecto_Infra/Proyecto_Infra/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.pdb
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.exe
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.csprojResolveAssemblyReference.cache
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.csprojResolveAssemblyReference.cache
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.csproj.GenerateResource.Cache
Proyecto_Infra/Proyecto_Infra/bin/Debug/Proyecto_Infra.exe
Proyecto_Infra/Proyecto_Infra/bin/Debug/Proyecto_Infra.exe.config
Proyecto_Infra/Proyecto_Infra/bin/Debug/Proyecto_Infra.pdb
Proyecto_Infra/Proyecto_Infra/bin/Debug/Proyecto_Infra.vshost.exe
Proyecto_Infra/Proyecto_Infra/bin/Debug/Proyecto_Infra.vshost.exe.config
Proyecto_Infra/Proyecto_Infra/bin/Debug/Proyecto_Infra.vshost.exe.manifest
Proyecto_Infra/Proyecto_Infra/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Proyecto_Infra/Proyecto_Infra/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.ConfigWindow.resources
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.ProcesoWindow.resources
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.Properties.Resources.resources
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.csproj.FileListAbsolute.txt
Proyecto_Infra/Proyecto_Infra/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Proyecto_Infra/Proyecto_Infra/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Proyecto_Infra/Proyecto_Infra/obj/Debug/Proyecto_Infra.FormCrear.resources